.bottom-bar-background {
  display: flex;
  justify-content: center;
  justify-self: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  width: 568px;
  height: 76px;
  background-color: rgba(65, 65, 65, 0.4);
  border-radius: 16px;
  border: 1px solid rgb(161, 161, 161, 0.6);
}

.tooltip {
  position: absolute;
  bottom: 110%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid rgb(149, 149, 149, 0.75);
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.app:hover .tooltip {
  opacity: 1;
}
