.notes-background {
  position: absolute;
  width: 800px;
  height: 550px;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  border: 1px solid gray;
  z-index: 1;
}

#notes-num {
  margin-left: auto;
}

.notes {
  width: 81%;
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.notes-list-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.notes-list {
  width: 38%;
  border-right: 1px solid black;
  user-select: none;
}

.note-content {
  width: 62%;
}

.notes-list-options {
  width: 100%;
  margin-top: 10px;
}

.note-preview {
  /* background-color: #d4a900; */
  margin-inline: 10px;
  padding-inline: 10px;
  border-radius: 4px;
  padding-top: 6px;
}

hr {
  color: #8e8e93;
}

.note-content {
  margin-left: 20px;
}

.note-date {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #8e8e93;
  text-align: center;
}

.note {
  padding-right: 16px;
  white-space: pre-wrap;
}

.vl {
  border-left: 1px solid rgb(117, 117, 117);
  height: 100%;
}

.mobile-warning {
  display: none;
}

@media (max-width: 768px) {
  .notes-background {
    width: 92vw;
    height: 80vh;
  }

  .desktop-notes,
  .notes-list,
  .notes-background .sidebar,
  .notes-background .top-bar {
    display: none;
  }

  .notes {
    width: 100%;
    border-radius: 12px;
  }

  .note-content {
    width: 100%;
  }

  .mobile-warning {
    display: block;
  }
}
