.safari-background {
  position: absolute;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid gray;
  user-select: none;
  z-index: 1;
  backdrop-filter: blur(100px);
}

.safari-background .top-bar {
  height: 7.5%;
  border-top-left-radius: 12px;
}

.safari {
  height: 100%;
  background-color: rgba(30, 30, 30, 0.7);
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.favourites {
  padding-left: 230px;
  padding-top: 60px;
}

.fruit-focus-safari {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.botaniq-safari {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  align-items: start;
}
